In [82]:
season = 2024
game_code = 17
competition_code = "E"

## ShotData

### ShotData.get_game_shot_data()

In [83]:
from euroleague_api.shot_data import ShotData

shotdata = ShotData(competition_code)
df = shotdata.get_game_shot_data(season, game_code)
df

,Season,Gamecode,NUM_ANOT,TEAM,ID_PLAYER,PLAYER,ID_ACTION,ACTION,POINTS,COORD_X,COORD_Y,ZONE,FASTBREAK,SECOND_CHANCE,POINTS_OFF_TURNOVER,MINUTE,CONSOLE,POINTS_A,POINTS_B,UTC
0,2024,17,41,BAR,P009862,"PUNTER, KEVIN",2FGM,Two Pointer,2,244,370,G,0,0,0,1,09:42,2,0,20241011183048
1,2024,17,42,BER,P012604,"WILLIAMS , TREVION",3FGA,Missed Three Pointer,0,464,608,I,0,0,0,1,09:15,2,0,20241011183115
2,2024,17,44,BAR,P012745,"PARKER, JABARI",2FGM,Two Pointer,2,244,181,E,0,0,0,1,09:02,4,0,20241011183128
3,2024,17,47,BER,P008780,"HERMANNSSON, MARTIN",2FGA,Missed Two Pointer,0,-301,414,F,0,0,0,2,08:46,4,0,20241011183145
4,2024,17,49,BER,P008780,"HERMANNSSON, MARTIN",2FGA,Missed Two Pointer,0,338,144,E,0,0,0,2,08:38,4,0,20241011183219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,2024,17,594,BAR,P009862,"PUNTER, KEVIN",3FGM,Three Pointer,3,-652,257,H,0,0,0,39,01:18,88,73,20241011201241
143,2024,17,602,BER,P011631,"RAPIEQUE, ELIAS",3FGA,Missed Three Pointer,0,451,539,I,0,0,0,40,00:54,88,73,20241011201419
144,2024,17,604,BER,P011934,"WETZELL, YANNI",2FGA,Missed Two Pointer,0,43,119,C,0,0,0,40,00:46,88,73,20241011201426
145,2024,17,608,BAR,P009862,"PUNTER, KEVIN",3FGA,Missed Three Pointer,0,633,225,I,0,0,0,40,00:33,88,73,20241011201440
146,2024,17,612,BAR,P009862,"PUNTER, KEVIN",3FGA,Missed Three Pointer,0,545,552,I,0,0,0,40,00:03,88,73,20241011201510

## GameStats

In [84]:
from euroleague_api.game_stats import GameStats

gamestats = GameStats(competition_code)

### GameStats.get_game_data()

In [85]:
gamestats.get_game_data(season, game_code, endpoint="stats").columns
# endpoint puede ser report, stats o teamsComparison
# stats tiene datos de estadÃ­sticas del partido, y tiene una columna "local.players" y "road.players" con un diccionario con info de cada jugadores y sus estadÃ­sticas del partido.

Index(['Season', 'Gamecode', 'local.coach.code', 'local.coach.name',
       'local.players', 'local.team.timePlayed', 'local.team.valuation',
       'local.team.points', 'local.team.fieldGoalsMade2',
       'local.team.fieldGoalsAttempted2',
       ...
       'road.total.defensiveRebounds', 'road.total.offensiveRebounds',
       'road.total.assistances', 'road.total.steals', 'road.total.turnovers',
       'road.total.blocksFavour', 'road.total.blocksAgainst',
       'road.total.foulsCommited', 'road.total.foulsReceived',
       'road.total.plusMinus'],
      dtype='object', length=104)

In [86]:
# cada endpoint no tiene columnas (osea a priori data) en comÃºn, cada endpoint da datos distintos del partido, no es que sea una manera de presentarlo.
cr = set(gamestats.get_game_data(season, game_code, endpoint="report").columns)
cs = set(gamestats.get_game_data(season, game_code, endpoint="stats").columns)
ctc = set(gamestats.get_game_data(season, game_code, endpoint="teamsComparison").columns)
comunes = cr & cs & ctc
comunes

{'Gamecode', 'Season'}

### GameStats.get_game_report()

In [87]:
# hace lo mismo que gamestats.get_game_data(season, game_code, endpoint="report") y lo mismo ocurre con el resto de mÃ©todos, son modificaciones de output del original, pero los datos son los mismos
gamestats.get_game_report(season, game_code)

,Season,Gamecode,Round,roundAlias,roundName,played,date,confirmedDate,confirmedHour,localTimeZone,...,local.standingsScore,road.club.code,road.club.name,road.club.abbreviatedName,road.club.editorialName,road.club.tvCode,road.club.isVirtual,road.club.images.crest,road.score,road.standingsScore
0,2024,17,2,Round 2,Round 2,True,2024-10-11T20:30:00,True,True,2,...,88,BER,ALBA Berlin,ALBA,,BER,False,https://media-cdn.incrowdsports.com/ccc34858-2...,73,73

## PlayByPlay

In [88]:
from euroleague_api.play_by_play_data import PlayByPlay

play_by_play = PlayByPlay(competition_code)

### PlayByPlay.get_game_play_by_play_data()

In [89]:
# df de cada jugada de un partido
pbp_17 = play_by_play.get_game_play_by_play_data(season, game_code)
pbp_17

,Season,Gamecode,TYPE,NUMBEROFPLAY,CODETEAM,PLAYER_ID,PLAYTYPE,PLAYER,TEAM,DORSAL,MINUTE,MARKERTIME,POINTS_A,POINTS_B,COMMENT,PLAYINFO,PERIOD
0,2024,17,0,39,,,BP,None,None,None,1,,NaN,NaN,,Begin Period,1
1,2024,17,0,40,BAR,,JB,None,FC Barcelona,,1,09:50,NaN,NaN,,,1
2,2024,17,0,41,BAR,P009862,2FGM,"PUNTER, KEVIN",FC Barcelona,0,1,09:42,2.0,NaN,,Two Pointer (1/1 - 2 pt),1
3,2024,17,0,42,BER,P012604,3FGA,"WILLIAMS , TREVION",ALBA Berlin,50,1,09:15,NaN,NaN,,Missed Three Pointer (0/1 - 0 pt),1
4,2024,17,0,43,BAR,P003478,D,"ABRINES, ALEX",FC Barcelona,21,1,09:12,NaN,NaN,,Def Rebound (1),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,2024,17,0,610,BER,P008780,TO,"HERMANNSSON, MARTIN",ALBA Berlin,15,40,00:24,NaN,NaN,,Turnover (2),4
526,2024,17,0,611,BAR,P012795,ST,"ANDERSON, JUSTIN",FC Barcelona,1,40,00:21,NaN,NaN,,Steal (2),4
527,2024,17,0,612,BAR,P009862,3FGA,"PUNTER, KEVIN",FC Barcelona,0,40,00:03,NaN,NaN,,Missed Three Pointer (2/6 - 14 pt),4
528,2024,17,0,613,BAR,P012795,O,"ANDERSON, JUSTIN",FC Barcelona,1,40,00:00,NaN,NaN,,Off Rebound (1),4
529,2024,17,0,616,,,EG,None,None,None,41,,NaN,NaN,,End Game,4

In [90]:
pbp_17[pbp_17["PLAYTYPE"] == "BP"]

,Season,Gamecode,TYPE,NUMBEROFPLAY,CODETEAM,PLAYER_ID,PLAYTYPE,PLAYER,TEAM,DORSAL,MINUTE,MARKERTIME,POINTS_A,POINTS_B,COMMENT,PLAYINFO,PERIOD
0,2024,17,0,39,,,BP,None,None,None,1,,NaN,NaN,,Begin Period,1
110,2024,17,0,157,,,BP,None,None,None,11,,NaN,NaN,,Begin Period,2
263,2024,17,0,334,,,BP,None,None,None,21,,NaN,NaN,,Begin Period,3
395,2024,17,0,467,,,BP,None,None,None,31,,NaN,NaN,,Begin Period,4

PLAYTYPES:
- BP - Ball Posesion (start of period)
- 2FGA - 2-Point Field Goal Attempt
- 2FGM - 2-Point Field Goal Made
- 3FGA - 3-Point Field Goal Attempt
- 3FGM - 3-Point Field Goal Made
- O - Offensive Rebound
- D - Deffensive Rebound
- [*COMPLETAR EL RESTO DE PLAYTYPES CON CHATGPT Y EL CAMPO "PLAYINFO"*]

In [91]:
l = pbp_17["PLAYTYPE"].unique().tolist()
l.sort()
l

['2FGA',
 '2FGM',
 '3FGA',
 '3FGM',
 'AG',
 'AS',
 'BP',
 'CM',
 'D',
 'EG',
 'EP',
 'FTA',
 'FTM',
 'FV',
 'IN',
 'JB',
 'O',
 'OF',
 'OUT',
 'RV',
 'ST',
 'TO',
 'TOUT',
 'TOUT_TV']

## BoxScoreData

In [92]:
from euroleague_api.boxscore_data import BoxScoreData

boxscore = BoxScoreData(competition_code)

In [93]:
bs_17 = boxscore.get_boxscore_data(season, game_code)
bs_17

[{'Team': 'FC BARCELONA',
  'Quarter1': 19,
  'Quarter2': 24,
  'Quarter3': 20,
  'Quarter4': 25},
 {'Team': 'ALBA BERLIN',
  'Quarter1': 16,
  'Quarter2': 21,
  'Quarter3': 17,
  'Quarter4': 19}]

In [94]:
bs_17 = boxscore.get_boxscore_data(season, game_code, boxscore_type="EndOfQuarter")
bs_17

[{'Team': 'FC BARCELONA',
  'Quarter1': 19,
  'Quarter2': 43,
  'Quarter3': 63,
  'Quarter4': 88},
 {'Team': 'ALBA BERLIN',
  'Quarter1': 16,
  'Quarter2': 37,
  'Quarter3': 54,
  'Quarter4': 73}]