In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../scraping/tables/laliga_23_24.csv')

In [20]:
df.groupby('Player')[['Gls', 'Ast']].sum().sort_values(by='Gls', ascending=False).reset_index()

                 Player  Gls  Ast
0          Artem Dovbyk   24    8
1     Alexander Sørloth   23    6
2    Robert Lewandowski   19    8
3       Jude Bellingham   19    6
4          Ante Budimir   17    2
..                  ...  ...  ...
592        Franco Cervi    0    1
593    Gabriel Paulista    0    0
594            Cristian    0    0
595         Iván Villar    0    0
596       Yeray Álvarez    0    0

[597 rows x 3 columns]

In [21]:
df

,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,PKatt,...,TklW_5,PKwon,PKcon,OG,Recov,Won,Lost_5,Won%,team_id,match_id
0,Adri Embarba,10.0,es ESP,"LW,LM",31-096,90,0,0,0,0,...,2,0,0,0,5,1,2,33.3,H,1
1,Alejandro Pozo Pozo,17.0,es ESP,RB,24-170,65,0,0,0,0,...,0,0,0,0,1,1,0,100.0,H,1
2,Diego Mariño,1.0,es ESP,GK,33-094,90,0,0,0,0,...,0,0,0,0,1,0,0,NaN,H,1
3,Dion Lopy,6.0,sn SEN,CM,21-190,13,0,0,0,0,...,0,0,0,0,1,0,0,NaN,H,1
4,Gonzalo Melero,11.0,es ESP,CM,29-221,14,0,0,0,0,...,0,0,0,0,0,0,0,NaN,H,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11883,Pau Cubarsí,33.0,es ESP,CB,17-125,90,0,0,0,0,...,0,0,0,0,3,0,1,0.0,A,380
11884,Pedri,8.0,es ESP,RM,21-183,90,0,0,0,0,...,0,0,0,0,5,0,1,0.0,A,380
11885,Robert Lewandowski,9.0,pl POL,FW,35-279,61,1,0,0,0,...,0,0,0,0,4,0,0,NaN,A,380
11886,Vitor Roque,19.0,br BRA,FW,19-088,16,0,0,0,0,...,0,0,0,0,1,0,0,NaN,A,380
11887,İlkay Gündoğan,22.0,de GER,LM,33-215,90,0,1,0,0,...,1,0,0,0,2,0,0,NaN,A,380